{
	"openapi": "3.0.0",
	"info": {
		"contact": {
			"email": "support@viridem.ca",
			"name": "Support Viridem",
			"url": "https://viridem.ca"
		},
		"title": "Viridem REST API",
		"description": "Documentation for the Viridem API",
		"version": "1.0.0"
	},
	"servers": [
		{
			"description": "Viridem",
			"url": "https://demo.viridem.ca"
		}
	],
	"security": [
		{
			"OAuth2": []
		}
	],
	"tags": [
		{
			"name": "Columns"
		},
		{
			"name": "Comments"
		},
		{
			"name": "Companies"
		},
		{
			"name": "Currencies"
		},
		{
			"name": "Document Anchors"
		},
		{
			"name": "Expenses"
		},
		{
			"name": "Expense Categories"
		},
		{
			"name": "Expense Projects"
		},
		{
			"name": "Expense Reports"
		},
		{
			"name": "External Attachments"
		},
		{
			"name": "Fields"
		},
		{
			"name": "Files"
		},
		{
			"name": "Groups"
		},
		{
			"name": "PendingTransaction"
		},
		{
			"name": "Taxes"
		},
		{
			"name": "Tax Groups"
		},
		{
			"name": "Templates"
		},
		{
			"name": "Template Types"
		},
		{
			"name": "Streams"
		},
		{
			"name": "Users"
		},
		{
			"name": "Viridem"
		}
	],
	"paths": {
		"/api/v1/companies/{companyId}/columns": {
			"get": {
				"operationId": "listColumn",
				"tags": ["Columns"],
				"summary": "Retrieve a list of paginated columns",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The paginated list of columns",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/globalColumn"
											}
										},
										"links": {
											"$ref": "#/components/schemas/links"
										},
										"meta": {
											"$ref": "#/components/schemas/meta"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/columns/{columnId}": {
			"get": {
				"operationId": "getByIdColumn",
				"tags": ["Columns"],
				"summary": "Retrieve a list of paginated columns",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "columnId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The column that matches the request or an empty array if columnId does not exist",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"oneOf": [
												{
													"type": "object",
													"$ref": "#/components/schemas/globalColumn"
												},
												{
													"type": "array"
												}
											],
											"example": {
												"id": 1,
												"name": "a Name",
												"description": "a description",
												"typeId": 3
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"404": {
						"description": "The company does not exist"
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/currencies/getCollection": {
			"get": {
				"operationId": "listCurrency",
				"tags": ["Currencies"],
				"summary": "Retrieve a list of currencies",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "status",
						"schema": {
							"type": "integer",
							"default": 0
						}
					},
					{
						"in": "query",
						"name": "feedEntity",
						"schema": {
							"type": "boolean",
							"default": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "The currencies that matches the company",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"allOf": [
													{
														"$ref": "#/components/schemas/labelValueEntity"
													},
													{
														"type": "object",
														"properties": {
															"entity": {
																"$ref": "#/components/schemas/currency"
															}
														}
													}
												]
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "The user is unauthenticated"
					},
					"403": {
						"description": "The user is forbidden from this action"
					},
					"404": {
						"description": "The company does not exist"
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors": {
			"get": {
				"operationId": "listDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Retrieve a list of paginated document Anchors",
				"description": "<span style=\"color:blue\">**Infos:**</span> <br> **Per_page:** This attribute only specify the **maximum potential** result count. <br>Even if there's still more results to be fetched, the result count could be **less or equal** than the asked per_page.<br> <br> **Keywords:** Used for both the simple and advanced search. <br>Required with the **simple search** or if the template id or the template type id **are not provided** with advance search.<br>\n",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "keywords",
						"schema": {
							"type": "string"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "page",
						"schema": {
							"type": "integer",
							"default": 1
						}
					},
					{
						"in": "query",
						"name": "per_page",
						"schema": {
							"type": "integer",
							"default": 15
						},
						"required": false
					},
					{
						"in": "query",
						"name": "newestFirst",
						"schema": {
							"type": "boolean",
							"default": true
						},
						"required": false
					},
					{
						"in": "query",
						"name": "advancedSearch",
						"description": "Specified whether this request should be an advanced search or not",
						"schema": {
							"type": "boolean",
							"default": false
						},
						"required": false
					},
					{
						"in": "query",
						"name": "templateId",
						"description": "(**AdvancedSearch**) Is required if no keyword or template type id are provided.",
						"schema": {
							"type": "integer"
						},
						"required": false
					},
					{
						"in": "query",
						"name": "templateTypeId",
						"description": "(**AdvancedSearch**) Is required if no keyword or template id are provided.",
						"schema": {
							"type": "integer"
						},
						"required": false
					},
					{
						"in": "query",
						"name": "fieldIds[]",
						"description": "(**AdvancedSearch**) Will search the keywords only on these global fields when specified.",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer"
							}
						},
						"required": false
					},
					{
						"in": "query",
						"name": "exactWord",
						"description": "(**AdvancedSearch**) If true, will only search for words that exactly match the keywords",
						"schema": {
							"type": "boolean",
							"default": false
						},
						"required": false
					}
				],
				"responses": {
					"200": {
						"description": "The paginated list of document Anchors",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/documentAnchor"
											}
										},
										"meta": {
											"type": "object",
											"properties": {
												"current_page": {
													"type": "integer"
												},
												"path": {
													"type": "string"
												},
												"per_page": {
													"type": "integer"
												},
												"nextOffset": {
													"type": "integer"
												}
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					},
					"422": {
						"description": "Some query params are malformatted or are missing"
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/basket": {
			"get": {
				"operationId": "listBasketDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Retrieve a list of paginated document Anchors from the basket",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "page",
						"schema": {
							"type": "integer",
							"default": 1
						},
						"required": true
					},
					{
						"in": "query",
						"name": "per_page",
						"schema": {
							"type": "integer",
							"default": 15
						},
						"required": true
					},
					{
						"in": "query",
						"name": "keywords",
						"schema": {
							"type": "string"
						},
						"required": false
					},
					{
						"in": "query",
						"name": "assignedUserId",
						"description": "Return only the document assigned to this user",
						"schema": {
							"type": "integer"
						},
						"required": false
					},
					{
						"in": "query",
						"name": "newestFirst",
						"schema": {
							"type": "boolean"
						},
						"required": false
					},
					{
						"in": "query",
						"name": "fieldsToReturn[]",
						"description": "The fields (id) to return in the response",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						},
						"required": false
					}
				],
				"responses": {
					"200": {
						"description": "The paginated list of document Anchors of the basket",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": null,
											"$ref": "#/components/schemas/documentAnchorBasket"
										},
										"meta": {
											"type": "object",
											"properties": {
												"current_page": {
													"type": "integer"
												},
												"path": {
													"type": "string"
												},
												"per_page": {
													"type": "integer"
												}
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					},
					"422": {
						"description": "Some query params are malformatted or are missing"
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/basket/count": {
			"get": {
				"operationId": "countBasketDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Retrieve a list of paginated document Anchors from the basket",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The count of document Anchors of the basket",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"count": {
													"type": "integer"
												}
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/hasBeenEdited/{documentAnchorId}": {
			"get": {
				"operationId": "checkEditedDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Check if the document anchor as been edited by validating the date passed in the query",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "oldDate",
						"schema": {
							"type": "string",
							"default": ""
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "True or False if the document as been edited.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/hasBeenEdited"
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company(X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					},
					"422": {
						"description": "Some query params are malformatted or are missing"
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}": {
			"get": {
				"operationId": "getByIdDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Retrieve a document anchors by its id",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "includeFieldsExternalData",
						"schema": {
							"type": "boolean",
							"default": true
						},
						"required": false
					}
				],
				"responses": {
					"200": {
						"description": "The document anchor that matches the request",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "object",
											"$ref": "#/components/schemas/documentAnchorShow"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			},
			"post": {
				"operationId": "updateDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Update an existing document anchor",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"multipart/form-data": {
							"schema": {
								"type": "object",
								"properties": {
									"fileName": {
										"type": "string"
									},
									"templateFields": {
										"type": "object",
										"example": [
											{
												"id": 114,
												"value": "My Value"
											}
										]
									},
									"documentBlob": {
										"type": "string",
										"format": "binary",
										"description": "To create a new version of the document"
									},
									"includeFieldsExternalData": {
										"type": "boolean",
										"default": "true"
									},
									"documentChanges": {
										"type": "object",
										"format": "json",
										"description": "Document changes json",
										"example": {
											"hasNewFileName": false,
											"hasFileDataChanged": false,
											"hasFieldChanged": true,
											"hasFormChanged": false,
											"hasAnnotationChanged": false,
											"shouldPushFileData": false,
											"hasChanges": true,
											"resetChanges": false
										}
									},
									"overridePendingProgramExecution": {
										"type": "boolean",
										"default": "true"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Document Anchor has been updated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/documentAnchorShow"
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) or document anchor (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Delete an existing document anchor",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "Document Anchor \"#\" deleted"
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) or document anchor (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/resetWorkflow": {
			"post": {
				"operationId": "resetWorkflowDocumentAnchor",
				"deprecated": true,
				"tags": ["Document Anchors"],
				"summary": "(Deprecated) - Refer to /api/v2 - Reset the workflow of a document anchor. This endpoint will be removed in next version",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The workflow has been reset"
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist or the document anchor (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/versions": {
			"get": {
				"operationId": "getVersionsDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Show the document anchor versions",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The document anchor versions that matches the request",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"version": {
														"type": "integer"
													},
													"creationDate": {
														"$ref": "#/components/schemas/createdAt"
													},
													"creator": {
														"$ref": "#/components/schemas/basicUserInfo"
													},
													"filename": {
														"type": "string"
													}
												}
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company does not exist or the document anchor does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/history": {
			"get": {
				"operationId": "getHistoryDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Show the document anchor history",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The document anchor history that matches the request",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"version": {
														"type": "integer"
													},
													"creationDate": {
														"$ref": "#/components/schemas/createdAt"
													},
													"operation": {
														"type": "string"
													},
													"operationLabel": {
														"type": "string"
													},
													"user": {
														"$ref": "#/components/schemas/basicUserInfo"
													},
													"details": {
														"type": "string"
													},
													"detailsParameters": {
														"type": "object",
														"oneOf": [
															{
																"$ref": "#/components/schemas/detailsParametersBlockedAutomaticTransition"
															},
															{
																"$ref": "#/components/schemas/detailsParametersAddingDocumentDetails"
															},
															{
																"$ref": "#/components/schemas/detailsParametersTransitionDetails"
															},
															{
																"$ref": "#/components/schemas/detailsParametersReassignUserToUserDetails"
															},
															{
																"$ref": "#/components/schemas/detailsParametersDelegateDetails"
															},
															{
																"$ref": "#/components/schemas/detailsParametersDefaultValue"
															}
														]
													}
												}
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist or the document anchor (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/rotate": {
			"post": {
				"operationId": "rotateDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Rotate the document anchor",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"multipart/form-data": {
							"schema": {
								"type": "object",
								"required": ["pagesToFlip", "degrees"],
								"properties": {
									"pagesToFlip": {
										"type": "string",
										"example": "1,2-5,7"
									},
									"degrees": {
										"type": "integer"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Rotation done successfully"
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist or the document anchor (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/split": {
			"post": {
				"operationId": "splitDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Split the document anchor",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"required": ["originalPages"],
								"properties": {
									"originalPages": {
										"type": "string"
									},
									"splitOriginal": {
										"type": "boolean"
									},
									"allowMissingPage": {
										"type": "boolean"
									},
									"allowDuplicatePages": {
										"type": "boolean"
									},
									"removeTextNewDocuments": {
										"type": "boolean"
									},
									"newDocuments": {
										"type": "array",
										"items": {
											"type": "string"
										},
										"example": ["1-4", "2-3"]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "An array of the new template ids",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "integer"
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist or the document anchor (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/reassign": {
			"post": {
				"operationId": "reassignDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Reassign some users of the document anchor",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"required": ["newAssignments"],
								"properties": {
									"newAssignments": {
										"type": "array",
										"items": {
											"type": "object",
											"required": ["oldUserId", "newUserId"],
											"properties": {
												"oldUserId": {
													"type": "integer"
												},
												"newUserId": {
													"type": "integer"
												}
											}
										}
									},
									"comment": {
										"type": "string"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Processing has been successful."
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist or the document anchor (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/reassignAll": {
			"post": {
				"operationId": "reassignAllDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Reassign all users of the document anchor",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/assignment"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "The document was passed in the automatic detection process."
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist or the document anchor (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/redetect": {
			"post": {
				"operationId": "redetectDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Redetect the autodetection fields of the document anchor",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"templateFields": {
										"type": "array",
										"items": {
											"type": "object",
											"properties": {
												"id": {
													"type": "integer"
												},
												"value": {
													"type": "string"
												}
											}
										}
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "The template fields of the document anchor have been redetected"
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist or the document anchor (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/file": {
			"get": {
				"operationId": "getFileDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Retrieve the file associated to a document anchor",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The file that matches the request",
						"content": {
							"application/json": {
								"schema": {
									"type": "string",
									"format": "binary"
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist or the document anchor (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/symbolicLinks": {
			"get": {
				"operationId": "getSymbolicLinksDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Retrieve the linked documents of a document anchor",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The linked documents of a document anchor",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"typeLink": {
														"type": "string"
													},
													"anchorId": {
														"type": "integer"
													},
													"anchorUniqueKey": {
														"type": "string"
													},
													"externAttachmentId": {
														"type": "integer",
														"nullable": true
													},
													"externAttachmentFileName": {
														"type": "string",
														"nullable": true
													},
													"template": {
														"type": "object",
														"properties": {
															"name": {
																"type": "string"
															},
															"typeName": {
																"type": "string"
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist or the document anchor (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/groupTreatments": {
			"get": {
				"operationId": "getGroupTreatmentsDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Retrieve the grouped treatments documents of a document anchor",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The grouped treatments documents of a document anchor",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/groupedDocument"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist or the document anchor (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/groupDocuments": {
			"get": {
				"operationId": "getGroupDocumentsDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Retrieve the grouped documents of a document anchor",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The grouped documents of a document anchor",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"$ref": "#/components/schemas/groupedDocument"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist or the document anchor (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/noTemplate/count": {
			"get": {
				"operationId": "countWithoutTemplateDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Retrieve the count of document anchors without template",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The count of the document anchors without template",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"count": {
													"type": "integer"
												}
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/noTemplate": {
			"get": {
				"operationId": "listWithoutTemplateDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Retrieve the document anchors without template",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "keywords",
						"schema": {
							"type": "string"
						},
						"required": false
					},
					{
						"in": "query",
						"name": "page",
						"schema": {
							"type": "integer",
							"default": 1
						},
						"required": false
					},
					{
						"in": "query",
						"name": "per_page",
						"schema": {
							"type": "integer",
							"default": 15
						},
						"required": false
					}
				],
				"responses": {
					"200": {
						"description": "The document anchors without template",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"id": {
														"type": "integer"
													},
													"filename": {
														"type": "string"
													},
													"createdDate": {
														"type": "string"
													},
													"currentDocument": {
														"type": "object",
														"properties": {
															"id": {
																"type": "integer"
															},
															"mimeType": {
																"type": "string"
															},
															"source": {
																"type": "string"
															},
															"url": {
																"type": "string"
															},
															"version": {
																"type": "integer"
															},
															"pageCount": {
																"type": "integer"
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/template/{templateId}": {
			"post": {
				"operationId": "setTemplateDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Set the template of a document anchor",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "templateId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The document anchor template has been set"
					},
					"400": {
						"description": "The document anchor already has a template"
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) or the document anchor (X) or the template (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/transition": {
			"post": {
				"operationId": "transitionDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Execute the transition of a document anchor",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"multipart/form-data": {
							"schema": {
								"type": "object",
								"required": ["transitionId"],
								"properties": {
									"transitionId": {
										"type": "integer"
									},
									"toSign": {
										"type": "boolean",
										"description": "Whether or not to apply a signature to the document",
										"default": "false"
									},
									"signatureFieldIds": {
										"type": "object",
										"description": "Field ids contained in the signature metadata",
										"example": [1, 2, 3]
									},
									"signatureMetadata": {
										"type": "object",
										"description": "The metadata of the signature",
										"properties": {
											"currentPage": {
												"type": "integer"
											},
											"left": {
												"type": "integer"
											},
											"top": {
												"type": "integer"
											},
											"height": {
												"type": "integer"
											},
											"width": {
												"type": "integer"
											}
										}
									},
									"overridePendingProgramExecution": {
										"type": "boolean",
										"default": "false",
										"description": "Whether or not to cancel the current pending program and force the execution of a new one"
									},
									"userIds": {
										"type": "object",
										"description": "If the user logged in to the API is not assigned to the step and is admin, this parameter allows you to specify for which user (s) he performs the transition by specifying a list of user id. Default : Connected API user only.",
										"example": [1, 2, 3]
									},
									"fileName": {
										"type": "string"
									},
									"templateFields": {
										"type": "object",
										"example": [
											{
												"id": 114,
												"value": "My Value"
											}
										]
									},
									"documentBlob": {
										"type": "string",
										"format": "binary"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "The transition process has been executed",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"code": {
											"type": "string",
											"example": 200
										},
										"message": {
											"type": "string",
											"example": "La transaction s'est déroulé avec succès"
										},
										"nextAnchorOnTransitionActive": {
											"type": "boolean",
											"example": true
										},
										"nextAnchorIdOnList": {
											"type": "boolean",
											"example": true
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "The workflows does not match"
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated or the user is not admin and tries to store multiple transitions or the user tries to store multiple unapproved assignments",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) or the document anchor (X) or the transition (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/comments": {
			"get": {
				"operationId": "getCommentsDocumentAnchor",
				"tags": ["Comments"],
				"summary": "Retrieve the comments associated to a document anchor",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The comments that matches the request",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/comment"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource. This happens when the user neither admin, neither the creator.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist or the document anchor(X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			},
			"post": {
				"operationId": "addCommentDocumentAnchor",
				"tags": ["Comments"],
				"summary": "Add a new comment to a document anchor",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"multipart/form-data": {
							"schema": {
								"type": "object",
								"required": ["content"],
								"properties": {
									"content": {
										"type": "string",
										"minLength": 1,
										"maxLength": 4000
									},
									"parentId": {
										"type": "integer"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "A comment has been added to the document anchor",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/comment"
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist or the document anchor (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/state": {
			"get": {
				"operationId": "getStateDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Retrieve a document anchors current state by its anchor id",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The document anchor state",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/userDocumentState"
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			},
			"post": {
				"operationId": "updateStateDocumentAnchor",
				"tags": ["Document Anchors"],
				"summary": "Update the document anchor current state",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"requestBody": {
					"required": false,
					"content": {
						"multipart/form-data": {
							"schema": {
								"$ref": "#/components/schemas/documentStateRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Document Anchor State has been updated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/userDocumentState"
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) or document anchor (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchors/{documentAnchorId}/annotations/images": {
			"post": {
				"operationId": "addAnnotationsDocumentAnchor",
				"summary": "Add image annotations to a document",
				"tags": ["Annotations"],
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/imageAnnotationRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "At least 1 resource was correctly added other may have failed see response body"
					},
					"401": {
						"description": "The user is unauthenticated"
					},
					"402": {
						"description": "Some fields are missing or differs in lengths"
					},
					"404": {
						"description": "A resource was not found"
					},
					"500": {
						"description": "Internal server error"
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/expenses": {
			"get": {
				"operationId": "listExpense",
				"tags": ["Expenses"],
				"summary": "Retrieve a list of expenses. If status filters are not defined processing expenses will be ignored.",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "orderByDate",
						"schema": {
							"type": "string",
							"default": "DESC"
						}
					},
					{
						"in": "query",
						"name": "statusIn[]",
						"description": "Filters expenses with defined [ExpenseStatus](#model-expenseStatus).",
						"schema": {
							"type": "array",
							"items": {
								"type": "integer"
							}
						}
					},
					{
						"in": "query",
						"name": "startDate",
						"schema": {
							"type": "string",
							"format": "date"
						}
					},
					{
						"in": "query",
						"name": "endDate",
						"schema": {
							"type": "string",
							"format": "date"
						}
					},
					{
						"in": "query",
						"name": "userId",
						"schema": {
							"type": "integer"
						}
					},
					{
						"in": "query",
						"name": "page",
						"schema": {
							"type": "integer",
							"default": 1
						}
					},
					{
						"in": "query",
						"name": "per_page",
						"schema": {
							"type": "integer",
							"default": 15
						}
					}
				],
				"responses": {
					"200": {
						"description": "The expenses that matches the company",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/basicExpense"
											}
										},
										"meta": {
											"$ref": "#/components/schemas/meta"
										},
										"links": {
											"$ref": "#/components/schemas/links"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/expenses/deleteAttachment": {
			"post": {
				"operationId": "deleteAttachmentExpense",
				"tags": ["Expenses"],
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "expenseId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "attachmentId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The expense that matches the id.",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/200Response"
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company(X) or the expense(X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					},
					"422": {
						"description": "The request is malformed"
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/expenses/lock": {
			"post": {
				"operationId": "lockExpense",
				"tags": ["Expenses"],
				"summary": "lock expense",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"required": true,
						"schema": {
							"type": "integer"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"id": {
										"type": "integer"
									},
									"ids": {
										"type": "array",
										"items": {
											"type": "integer"
										}
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "A success message",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/200Response"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company or the expense does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/expenses/unlock": {
			"post": {
				"operationId": "unlockExpense",
				"tags": ["Expenses"],
				"summary": "Unlock expense",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"id": {
										"type": "integer"
									},
									"ids": {
										"type": "array",
										"items": {
											"type": "integer"
										}
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "A success message",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/200Response"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company or the expense does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/expenses/{id}": {
			"get": {
				"operationId": "getByIdExpense",
				"tags": ["Expenses"],
				"summary": "Retrieve an expense",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "id",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The expense that matches the id.",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"$ref": "#/components/schemas/expense"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company(X) or the expense(X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			},
			"delete": {
				"operationId": "deleteExpense",
				"tags": ["Expenses"],
				"summary": "Delete expense",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "id",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "A success message",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/200Response"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company or the expense does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			},
			"post": {
				"operationId": "updateExpense",
				"tags": ["Expenses"],
				"summary": "Creations, editions and confirmations of expenses",
				"parameters": [
					{
						"name": "companyId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "integer"
						}
					},
					{
						"name": "id",
						"in": "path",
						"schema": {
							"type": "integer"
						}
					}
				],
				"requestBody": {
					"content": {
						"multipart/form-data": {
							"schema": {
								"$ref": "#/components/schemas/expenseRequest"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "The created expenses.",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"$ref": "#/components/schemas/expense"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company(X) or the expense(X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					},
					"422": {
						"description": "The request is malformed"
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/expenses/getAiResult/{id}": {
			"get": {
				"operationId": "getAiResultExpense",
				"tags": ["Expenses"],
				"summary": "Retrieve an expense ai request result",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "id",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The request results that matches the expense.",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"$ref": "#/components/schemas/aiExpenseResult"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company(X) or the expense(X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/expenses/image/{id}": {
			"get": {
				"operationId": "getImageExpense",
				"tags": ["Expenses"],
				"summary": "Retrieve an expense image assets (thumbnail or full image)",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "id",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "type",
						"description": "The targeted image type",
						"schema": {
							"$ref": "#/components/schemas/expenseImageType"
						}
					},
					{
						"in": "query",
						"name": "method",
						"description": "The file return method",
						"schema": {
							"$ref": "#/components/schemas/externalFileMethod"
						}
					}
				],
				"responses": {
					"200": {
						"description": "The images results that matches the expense.",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"$ref": "#/components/schemas/aiExpenseResult"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company(X) or the expense(X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/expenseProjects/getCollection": {
			"get": {
				"operationId": "listExpenseProject",
				"tags": ["Expense Projects"],
				"summary": "Retrieve a list of labeled Value collection with entity in option",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "isActive",
						"schema": {
							"type": "boolean",
							"default": true
						}
					},
					{
						"in": "query",
						"name": "feedEntity",
						"schema": {
							"type": "boolean",
							"default": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "The projects that matches the company",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"allOf": [
													{
														"$ref": "#/components/schemas/labelValueEntity"
													},
													{
														"type": "object",
														"properties": {
															"entity": {
																"$ref": "#/components/schemas/project"
															}
														}
													}
												]
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company does not exist"
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/expenses/configurations": {
			"get": {
				"operationId": "getConfigurationsExpense",
				"tags": ["Expenses"],
				"summary": "Retrieve a list of configurations",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The projects that matches the company",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/expenseConfiguration"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company does not exist"
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/expenseCategories/getCollection": {
			"get": {
				"operationId": "listExpenseCategory",
				"tags": ["Expense Categories"],
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "isActive",
						"schema": {
							"type": "boolean",
							"default": true
						}
					},
					{
						"in": "query",
						"name": "feedEntity",
						"schema": {
							"type": "boolean",
							"default": true
						}
					}
				],
				"responses": {
					"200": {
						"description": "A list of categories, with label and value, with optional entity field",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"allOf": [
													{
														"$ref": "#/components/schemas/labelValueEntity"
													},
													{
														"type": "object",
														"properties": {
															"entity": {
																"$ref": "#/components/schemas/expenseCategory"
															}
														}
													}
												]
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/expenseReports/publish": {
			"post": {
				"operationId": "publishExpenseReport",
				"tags": ["Expense Reports"],
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "startDate",
						"schema": {
							"type": "string",
							"format": "date"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "endDate",
						"schema": {
							"type": "string",
							"format": "date"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "userId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "A successful process response: Document was successfully added to Viridem",
						"content": {
							"application/json": {
								"schema": {
									"allOf": [
										{
											"$ref": "#/components/schemas/200Response"
										},
										{
											"type": "object",
											"properties": {
												"details": {
													"type": "boolean"
												}
											}
										}
									]
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company(X) or the expense(X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					},
					"422": {
						"description": "The request is malformed"
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/expenseReports/status": {
			"get": {
				"operationId": "getStatusExpenseReport",
				"summary": "Return the status of the report.",
				"tags": ["Expense Reports"],
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "startDate",
						"schema": {
							"type": "string",
							"format": "date"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "endDate",
						"schema": {
							"type": "string",
							"format": "date"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "userId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "A successful process response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/expenseReportStatus"
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company(X) or the user(X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					},
					"422": {
						"description": "The request is malformed"
					},
					"423": {
						"description": "The request is valid but resource is locked",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/423Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/expenseReports/isPublishAvailable": {
			"get": {
				"operationId": "checkPublishAvailableExpenseReport",
				"deprecated": true,
				"summary": "(Deprecated) - Refer to /status - Return the status of the report. (still used by viridem mobile)",
				"tags": ["Expense Reports"],
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "startDate",
						"schema": {
							"type": "string",
							"format": "date"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "endDate",
						"schema": {
							"type": "string",
							"format": "date"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "userId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "type",
						"schema": {
							"type": "string",
							"enum": ["report", "expense"]
						}
					}
				],
				"responses": {
					"200": {
						"description": "A successful process response: Report can be generated or edited",
						"content": {
							"application/json": {
								"schema": {
									"allOf": [
										{
											"$ref": "#/components/schemas/200Response"
										},
										{
											"type": "object",
											"properties": {
												"details": {
													"type": "boolean"
												}
											}
										}
									]
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"403": {
						"description": "A message indicating that the user cannot have access to the resource",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/403Response"
								}
							}
						}
					},
					"404": {
						"description": "The company(X) or the expense(X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					},
					"422": {
						"description": "The request is malformed"
					},
					"423": {
						"description": "The request is valid but resource is locked",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/423Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/fields": {
			"get": {
				"operationId": "listField",
				"tags": ["Fields"],
				"summary": "Retrieve a list of paginated fields",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "query",
						"name": "keywords",
						"schema": {
							"type": "string",
							"default": null
						},
						"required": false
					},
					{
						"in": "query",
						"name": "page",
						"schema": {
							"type": "integer",
							"default": 1
						},
						"required": false
					},
					{
						"in": "query",
						"name": "per_page",
						"schema": {
							"type": "integer",
							"default": 15
						},
						"required": false
					}
				],
				"responses": {
					"200": {
						"description": "The paginated list of fields",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/field"
											}
										},
										"links": {
											"$ref": "#/components/schemas/links"
										},
										"meta": {
											"$ref": "#/components/schemas/meta"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/fields/count": {
			"get": {
				"operationId": "countField",
				"tags": ["Fields"],
				"summary": "Retrieve the count of fields",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The count of fields",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "object",
											"properties": {
												"count": {
													"type": "integer"
												}
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/fields/{fieldId}": {
			"get": {
				"operationId": "getByIdField",
				"tags": ["Fields"],
				"summary": "Retrieve a field by its id",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "fieldId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The field that matches the request",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"$ref": "#/components/schemas/field"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/pendingTransactions": {
			"get": {
				"operationId": "listPendingTransaction",
				"tags": ["PendingTransaction"],
				"summary": "Retrieve a list of pending transactions",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The list of pending transactions",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/pendingTransaction"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"404": {
						"description": "The company (X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/documentAnchor/{documentAnchorId}/pendingTransaction": {
			"get": {
				"operationId": "getPendingTransactionDocumentAnchor",
				"tags": ["PendingTransaction"],
				"summary": "Retrieve a pending transactions from a document anchor id",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "documentAnchorId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"responses": {
					"200": {
						"description": "The pending transactions",
						"content": {
							"application/json": {
								"schema": {
									"properties": {
										"data": {
											"$ref": "#/components/schemas/pendingTransaction"
										}
									}
								}
							}
						}
					},
					"401": {
						"description": "A message indicating that the user is unauthenticated",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/401Response"
								}
							}
						}
					},
					"404": {
						"description": "The company(X) does not exist",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/404Response"
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/companies/{companyId}/pendingTransactions/{pendingTransactionId}": {
			"post": {
				"operationId": "updatePendingTransaction",
				"tags": ["PendingTransaction"],
				"summary": "Process a pending transaction",
				"parameters": [
					{
						"in": "path",
						"name": "companyId",
						"schema": {
							"type": "integer"
						},
						"required": true
					},
					{
						"in": "path",
						"name": "pendingTransactionId",
						"schema": {
							"type": "integer"
						},
						"required": true
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"multipart/form-data": {
							"schema": {
								"type": "object",
								"required": ["status", "responseData"],
								"properties": {
									"status": {
										"type": "integer"
									},
									"responseData": {
										"type": "object",
										"properties": {
[...]
